'context-menu':
  '.ink.result': [
    {label: 'Clear', command: 'inline-results:clear'}
    {type: 'separator'}
  ]
  '.ink.docs': [
    {label: 'Clear', command: 'inline-docs:clear'}
    {type: 'separator'}
  ]
  'ink-console': [
    {label: 'Copy', command: 'core:copy'}
    {type: 'separator'}
  ]
