'context-menu':
  '.ink.inline': [
    {label: 'Clear', command: 'inline-results:clear'}
    {type: 'separator'}
  ]
  '.ink-console': [
    {label: 'Copy', command: 'core:copy'}
    {type: 'separator'}
  ]
