# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth

'ink-console .editor':
  'enter': 'console:evaluate'

'ink-console':
  'shift-space': 'unset!'

'.platform-win32 .ink, .platform-linux .ink':
  'ctrl-c': 'native!'

'.platform-darwin .ink':
  'cmd-c': 'native!'

'.platform-win32 ink-console .ink, .platform-linux ink-console .ink':
  'ctrl-c': 'core:copy'

'.platform-darwin ink-console .ink':
  'cmd-c': 'core:copy'

'atom-text-editor:not([mini])':
  'escape': 'inline:clear-current'
  'alt-t': 'inline-results:toggle'

'.platform-darwin atom-text-editor:not([mini])':
  'cmd-i cmd-c': 'inline-results:clear-all'

'.platform-win32 atom-text-editor:not([mini]),
 .platform-linux atom-text-editor:not([mini])':
  'ctrl-i ctrl-c': 'inline-results:clear-all'

'.docpane .header .editor':
  'enter': 'docpane:search'

'.platform-win32 .docpane, .platform-linux .docpane':
  'ctrl-c': 'native!'

'.platform-darwin .docpane':
  'cmd-c': 'native!'

'.platform-win32 ink-terminal, .platform-linux ink-terminal':
  'ctrl-shift-c': 'ink-terminal:copy'
  'ctrl-shift-v': 'ink-terminal:paste'

'.platform-darwin ink-terminal':
  'cmd-c': 'ink-terminal:copy'
  'cmd-v': 'ink-terminal:paste'
