# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth

'ink-console atom-text-editor:not([mini])':
  'enter': 'console:evaluate'

'ink-console':
  'alt-up': 'console:previous-in-history'
  'alt-down': 'console:next-in-history'

'atom-text-editor:not([mini])':
  'escape': 'inline:clear-current'

'.platform-darwin atom-text-editor:not([mini])':
  'cmd-i cmd-c': 'inline-results:clear-all'

'.platform-win32 atom-text-editor:not([mini]),
 .platform-linux atom-text-editor:not([mini])':
  'ctrl-i ctrl-c': 'inline-results:clear-all'

'atom-overlay .ink':
  't': 'inline-results:toggleTree'
  'enter': 'native!'
  'tab': 'native!'
  'shift-tab': 'native!'
