@import "ui-variables";
@import "syntax-variables";
@import "icons.less";

.docpane {
  .header {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    height: 40px;

    background: @syntax-background-color;

    .icon {
      padding: 0 10px 0 10px;
    }

    .search-editor {
      flex: 1;
      margin: 0 0.5em;
    }
    .module-editor {
      flex: 0.5;
      margin: 0 0.5em;
    }
  }

  .items {
    // keep less from overwriting `calc`:
    height: ~"calc(100% - 40px)";
    overflow: auto;
    tr {
      border-bottom: 1px solid @syntax-background-color;
      td {
        padding: 5px;

        .icon {
          .icon-mixin;
          height: 2em;
          line-height: 2em;
        }
      }

      .name {
        cursor: pointer;
        font-weight: bold;
      }

      .docs .markdown {
        pre {
          margin-bottom: 0.5em;
        }
      }
    }

    .loading {
      margin: 0 auto;
      top: 45%;
      opacity: 0.6;
    }
  }
}
