@import "ui-variables";
@import "syntax-variables";
@import "icons.less";

.docpane {
  background: @syntax-background-color;
  color: @syntax-text-color;

  display: flex;
  flex-direction: column;

  .header {
    padding: 5px;
    border-bottom: @base-border-color 1px solid;

    .icon {
      padding: 0 10px 0 10px;
    }

    .btn-group {
      margin: 0 0.2em;
    }

    .header-main {
      flex: 1;
      display: flex;
      flex-direction: row;
    }

    .header-options {
      padding: 0.5em 0 0.1em 2em;
      flex: 1;
      display: flex;
      flex-direction: row;
      background: @syntax-background-color;
    }

    .search-editor {
      flex: 1;
      margin: 0 0.5em;
    }
    .module-editor {
      flex: 1;
      margin: 0 0.5em;
    }
  }

  .content {
    width: 100%;
    padding: 1em;

    overflow: auto;
    .item {
      padding: 5px;

      .typ .icon {
        .icon-mixin;
        height: 2em;
        width: 2em;
        line-height: 2em;
      }

      .item-body {
        margin: 1em;

        h1 {
          font-size: 1.3em;
        }

        h2 {
          font-size: 1.2em;
        }

        h3 {
          font-size: 1.1em;
        }
      }

      .name {
        display: inline-block;
        cursor: pointer;
        font-weight: bold;
        padding: 0 0.5em;
        height: 2em;
        line-height: 2em;
        background-color: fadeout(@text-color, 90%);
      }

      .exported {
        margin: 0 1em;
        opacity: 0.1;
        font-size: .6em;

        &:empty {
          display: inline;
        }

        &.is-exported {
          opacity: 0.6;
        }
      }

      .module {
        float: right;
        cursor: pointer;
        line-height: 2em;
        margin-right: 1em;
      }

      a {
        text-decoration: underline;
        text-decoration-color: fadeout(@text-color, 50%);

        &:hover {
          text-decoration-color: @text-color;
        }
      }

      // &.closed {
      //   .item-body {
      //     height: 7em;
      //     overflow: hidden;
      //   }
      //   // margin-bottom: -5em;
      //
      //   &::after {
      //     content: '';
      //     box-shadow: inset 0em -1em 1em @syntax-background-color;
      //     width: 100%;
      //     padding: 0m 50%;
      //     height: 1em;
      //     display: inline-block;
      //     // position: fixed;
      //     position: relative;
      //     top: -2em;
      //   }
      // }
    }

    .loading {
      margin: 1em auto;
      opacity: 0.6;
    }
  }
}
