@import "syntax-variables";


ink-terminal, .ink-terminal {
  height: 100%;
  padding-left: 0.5em;
  background-color: @syntax-background-color;
  color: @syntax-text-color;

  .terminal.xterm {
    height: 100%;

    .xterm-viewport {
      background-color: @syntax-background-color !important;
    }
  }
}

.scrollbars-visible-always {
  ink-terminal {
    ::-webkit-scrollbar-thumb {
      border-color: @syntax-background-color;
    }

    ::-webkit-scrollbar-track {
      background-color: @syntax-background-color;
    }
  }
}
